<div class="nav">
  <div [routerLink]="[ '/home' ]" routerLinkActive="active">
    <span class="glyphicon glyphicon-home"></span>
    <span>首页</span>
  </div>
  <div [routerLink]="[ '/list' ]" routerLinkActive="active">
    <span class="glyphicon glyphicon-th"></span>
    <span>列表</span>
  </div>
  <div [routerLink]="[ '/cart' ]" routerLinkActive="active">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span>购物车</span>
  </div>
  <div [routerLink]="[ '/mine' ]" routerLinkActive="active">
    <span class="glyphicon glyphicon-user"></span>
    <span>个人中心</span>
  </div>
</div>