*{
    padding: 0;
    margin: 0;
}
body{
    font-family: '微软雅黑';
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-body{
    height: 92vh;
    flex: 1;
}
.page-content{
    height: 84vh;
    overflow-x: hidden;
    overflow-y: auto;
}